
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$black : #09021d;
$blue: #012C52;
$red: #C6372C;

/*Need to create a function that will allow for changing opacity*/
$transparent_white: rgba(255, 255, 255, 0.8); 
