/*Footer Styles*/

footer {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 50px);
    .footer-links {
        grid-column: 3/4;
        grid-row: 1/1;
        display: flex; 
        justify-content: space-between; 
        padding: 0; 
        li {
            list-style: none; 
            margin-right: 15px; 
            a {
                text-decoration: none; 
            }
        }
    }
    p {
        grid-row: 2/2; 
        grid-column: 3/5; 
    }
}