/*Styles for the Home Page*/

.slider-wrapper {
   width:100%;
   margin:20px auto;
   height:40em;
}

#portfolio {
   nav {
      padding: 0;
      margin: 0;
      .nav__controls {
         justify-content: center;
         padding: 0;
         margin: 0;
         margin-bottom: 1em;
         li {
            list-style: none;
            padding: 10px 5px 10px 10px;
            text-transform: uppercase;
         }
      }
      .nav__label {
         color:$black;
      }
   }
   ul.content__list {
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap; 
      justify-content: space-between; 
      padding: 0;
      margin: 0;
   }
}

/* https://www.w3schools.com/howto/howto_css_image_overlay.asp*/
li.work {
   list-style: none;
   margin-top: 20px;  
   width: 100%; 
   }

    figure {
        margin: 0;
        width: 100%;
        position: relative;
        border: 1px solid #ccc; 
        img {
            width: 100%;
            display: block;
            max-width: 100%;
            height: auto;
        }
        figcaption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            max-width: 100%;
            opacity: 0;
            transition: .5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $black;
            padding: 0 !important;
            h2 {
                font-size: 20px;
                position: absolute;
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;
                a {
                    color: white;
                }
            }
        }
    }

   figure:hover figcaption {
       opacity: 0.8; 
   }
   .company__details {
      display: none;
   }
