/*1024 and up*/

header#masthead {
   margin-bottom:50px;
   h1#site-title {
      padding-bottom: 0;
      a {
         color: $black;
      }
   }
}
#front-page-container {
    #portfolio {
      margin-top: 60px;
      margin-bottom: 60px; 
      h3 {
         font-size: 28px;
         margin-bottom: 10px;
      }
        .content__list {
            li {
                width: 24%;
                margin-right: 1.3333%;
            }
            li.work:nth-child(3) {
                margin-right: 1%;
            }
            li:nth-child(4) {
                margin-right: 0;
            }
        }
    }
}
