/*800px and up*/

#front-page-container {
    #portfolio {
        .content__list {
            justify-content: flex-start;
            li {
                width: 32%;
                margin-right: 1.667%; 
            }
            li.work:nth-child(3) {
                margin-right: 0;
            }
        }
    }
}